.title {
    color: orangered;
}

.App-header {
    background-color: #0e0e10;
    text-align: center;
    padding: 1.5vh;
}

.subtitle {
    color: #fff;
    text-align: center;
    padding: 1.2vh;
}

body {
    background-color: #1f1f23;
}